---
title: BlendNeRF
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="BlendNeRF. 3D-aware Blending with Generative NeRFs.">
  <meta name="keywords" content="BlendNeRF, NeRF, Blending">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlendNeRF</title>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">
  <link rel="stylesheet" href="./blendnerf_static/css/bulma.min.css">
  <link rel="stylesheet" href="./blendnerf_static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="./blendnerf_static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="./blendnerf_static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="./blendnerf_static/css/index.css">
  <link rel="icon" href="./blendnerf_static/images/NAVER_AI_Symbol_FullColor.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="./blendnerf_static/js/fontawesome.all.min.js"></script>
  <script src="./blendnerf_static/js/bulma-carousel.min.js"></script>
  <script src="./blendnerf_static/js/bulma-slider.min.js"></script>
  <script src="./blendnerf_static/js/index.js"></script>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="https://blandocs.github.io">
      <span class="icon">
          <i class="fas fa-home"></i>
      </span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More Research
        </a>
        <div class="navbar-dropdown">
          <a target="_blank" class="navbar-item" href="https://github.com/blandocs/Tag2Pix">
            Tag2Pix
          </a>
          <a target="_blank" class="navbar-item" href="https://github.com/naver-ai/StyleMapGAN">
            StyleMapGAN
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>


<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">3D-aware Blending with Generative NeRFs</h1>
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a target="_blank" href="https://blandocs.github.io">Hyunsu Kim</a><sup>1</sup>,</span>
            <span class="author-block">
              <a target="_blank" href="https://sites.google.com/site/gylee1103">Gayoung Lee</a><sup>1</sup>,</span>
            <span class="author-block">
              <a target="_blank" href="https://yunjey.github.io">Yunjey Choi</a><sup>1</sup>,
            </span>
            <span class="author-block">
              <a target="_blank" href="http://wityworks.com">Jin-Hwa Kim</a><sup>1,2</sup>,
            </span>
            <span class="author-block">
              <a target="_blank" href="https://www.cs.cmu.edu/~junyanz">Jun-Yan Zhu</a><sup>3</sup>
            </span>
          </div>

          <div class="is-size-5 publication-authors">
            <span class="author-block"><sup>1</sup>NAVER AI Lab,</span>
            <span class="author-block"><sup>2</sup>SNU AIIS,</span>
            <span class="author-block"><sup>3</sup>CMU</span>
          </div>

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
              <span class="link-block">
                <a target="_blank" href="https://blandocs.github.io/assets/publications/2023_BlendNeRF/paper.pdf"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              <span class="link-block">
                <a target="_blank" href="https://arxiv.org/abs/2302.06608"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>ArXiv</span>
                </a>
              </span>
              <!-- Video Link. -->
              <!-- <span class="link-block">
                <a target="_blank" href="https://www.youtube.com/watch?v=MrKrnHhk8IA"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span> -->
              <span class="link-block">
                <a target="_blank" href="https://github.com/naver-ai/BlendNeRF" class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">

      <img src="./blendnerf_static/images/teaser.png"/>
      <h2 class="subtitle has-text-centered">
        <span class="dnerf">BlendNeRF</span> automatically aligns and composes two images,
        <br>even for images with different camera poses and object shapes.
      </h2>
    </div>
  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Abstract</h2>
        <div class="content has-text-justified">
          <p>
            Image blending aims to combine multiple images seamlessly. It remains challenging for existing 2D-based methods, especially when input images are misaligned due to differences in 3D camera poses and object shapes. 
          </p>
          <p>
            To tackle these issues, we propose a 3D-aware blending method using generative Neural Radiance Fields (NeRF), including two key components: 3D-aware alignment and 3D-aware blending. 
            For 3D-aware alignment, we first estimate the camera pose of the reference image with respect to generative NeRFs and then perform 3D local alignment for each part. 
            To further leverage 3D information of the generative NeRF, we propose 3D-aware blending that directly blends images on the NeRF's latent representation space, rather than raw pixel space. 

          </p>
          <p>
            Collectively, our method outperforms existing 2D baselines, as validated by extensive quantitative and qualitative evaluations with FFHQ and AFHQ-Cat. 
          </p>
        </div>
      </div>
    </div>
    <!--/ Abstract. -->

    <!-- Paper video. -->
    <!-- <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Video</h2>
        <div class="publication-video">
          <iframe src="https://www.youtube.com/embed/MrKrnHhk8IA?rel=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div> -->
    <!--/ Paper video. -->
  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <div class="is-centered has-text-centered">
      <!-- Comparison. -->
      <h2 class="title is-3">Comparison with Baselines</h2>
      <img src="./blendnerf_static/images/diagram_comparison.png"/>
      <div class="content has-text-justified">
        <p>
          Comparison with the existing blending methods. Red lines denote target blending parts. (a) <b>2D blending</b>. 2D blending methods compose two images without any 3D-aware alignment. (b) <b>2D blending with 3D-aware alignment</b>. To address misalignment, we apply our 3D-aware alignment method to existing 2D blending methods. (c) <b>Proposed method</b>. We propose 3D-aware blending after applying our 3D-aware alignment. Note that all methods do not use 3D labels or 3D morphable models.
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
      <!-- Alignment -->
      <h2 class="title is-3 has-text-centered">3D-aware Alignment</h2>
      
      <div class="columns">
        <!-- Visual Effects. -->
        <div class="column">
          <div class="content">
            <h2 class="title is-4">Global</h2>
            <p>
              <b>Global alignment</b> is an essential part of our blending method, as slight misalignment of two images in terms of rotation can make immense degradation in blending quality. In contrast to 2D GANs, generative NeRFs <i>G</i> can resolve this issue by novel-view synthesis.
            </p>
            <img src="./blendnerf_static/images/diagram_global_align.png" style="margin-top: 20px;"/>
          </div>
        </div>
        <!--/ Visual Effects. -->
  
        <!-- Matting. -->
        <div class="column">
          <div class="content">
            <h2 class="title is-4">Local</h2>
              <p>
                <b>Local alignment</b> is a fine-grained alignment between the target regions of two images. Even though we have matched two images through global rotation, the scale and translation of target regions (<i>e.g.</i>, face, eyes, ears, <i>etc</i>.) need to be further aligned, as the location and size of each object parts differ across two object instances.
              </p>
              <img src="./blendnerf_static/images/diagram_local_align.png"/>
          </div>
        </div>
      </div>     
  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <div class="is-centered has-text-centered">
      <!-- Comparison. -->
      <h2 class="title is-3">3D-aware Blending</h2>
      <img src="./blendnerf_static/images/diagram_blending.png"/>
      <div class="content has-text-justified">
        <p>

          We aim to find the best latent code w<sub>edit</sub> to synthesize a seamless and natural output. To achieve this goal, we exploit both 2D pixel constraints (RGB value) and 3D geometric constraints (volume density). With the proposed image-blending and density-blending losses, we optimize the latent code w<sub>edit</sub>.
      </div>
    </div>
  </div>
</section>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-3">Multi-view Blending Results</h2>
      <h2 class="title is-4">EG3D FFHQ</h2>
      <div id="results-carousel" class="carousel results-carousel">
        {% for obj in site.data.blendnerf.celeba %}
        <div class="item item-{{ obj.id }}">
          <div class="columns vertical_center">
            <div class="column is-two-fifths">
              <div class="columns">
                <div class="column">
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/original_w_mask.png"/>
                    <figcaption>Original image</figcaption>
                  </figure>
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/reference_w_mask.png"/>
                    <figcaption>Reference image</figcaption>
                  </figure>                    
                </div>
              </div>
            </div>
            <div class="column is-three-fifths" style="margin-bottom: 30px;">
              <figure>
                <video poster="" id="{{ obj.dataset }}_{{ obj.id }}" autoplay controls muted loop playsinline height="100%">
                  <source src="./blendnerf_static/videos/{{ obj.dataset }}/{{ obj.id }}.mp4"
                          type="video/mp4">
                </video>
                  <div class="columns">
                    <figcaption class="is-one-third">Original (recon.)</figcaption>
                    <figcaption class="is-one-third">Reference (recon.)</figcaption>
                    <figcaption class="is-one-third">Blend <b>{{ obj.target }}</b></figcaption>
                  </div>
              </figure>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-4">EG3D AFHQv2-Cat</h2>
      <div id="results-carousel" class="carousel results-carousel">
        {% for obj in site.data.blendnerf.afhq %}
        <div class="item item-{{ obj.id }}">
          <div class="columns vertical_center">
            <div class="column is-two-fifths">
              <div class="columns">
                <div class="column">
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/original_w_mask.png"/>
                    <figcaption>Original image</figcaption>
                  </figure>
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/reference_w_mask.png"/>
                    <figcaption>Reference image</figcaption>
                  </figure>                  
                  
                </div>
              </div>
            </div>
            <div class="column is-three-fifths" style="margin-bottom: 30px;">
              <figure>
                <video poster="" id="{{ obj.dataset }}_{{ obj.id }}" autoplay controls muted loop playsinline height="100%">
                  <source src="./blendnerf_static/videos/{{ obj.dataset }}/{{ obj.id }}.mp4"
                          type="video/mp4">
                </video>
                  <div class="columns">
                    <figcaption class="is-one-third">Original (recon.)</figcaption>
                    <figcaption class="is-one-third">Reference (recon.)</figcaption>
                    <figcaption class="is-one-third">Blend <b>{{ obj.target }}</b></figcaption>
                  </div>
              </figure>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-4">StyleSDF FFHQ</h2>
      <div id="results-carousel" class="carousel results-carousel">
        {% for obj in site.data.blendnerf.stylesdf %}
        <div class="item item-{{ obj.id }}">
          <div class="columns vertical_center">
            <div class="column is-two-fifths">
              <div class="columns">
                <div class="column">
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/original_w_mask.png"/>
                    <figcaption>Original image</figcaption>
                  </figure>
                  <figure>
                    <img src="./blendnerf_static/images/{{ obj.dataset }}/{{ obj.id }}/reference_w_mask.png"/>
                    <figcaption>Reference image</figcaption>
                  </figure>                  
                  
                </div>
              </div>
            </div>
            <div class="column is-three-fifths" style="margin-bottom: 30px;">
              <figure>
                <video poster="" id="{{ obj.dataset }}_{{ obj.id }}" autoplay controls muted loop playsinline height="100%">
                  <source src="./blendnerf_static/videos/{{ obj.dataset }}/{{ obj.id }}.mp4"
                          type="video/mp4">
                </video>
                  <div class="columns">
                    <figcaption class="is-one-third">Original (recon.)</figcaption>
                    <figcaption class="is-one-third">Reference (recon.)</figcaption>
                    <figcaption class="is-one-third">Blend <b>{{ obj.target }}</b></figcaption>
                  </div>
              </figure>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code>@article{kim20233daware,
      title={3D-aware Blending with Generative NeRFs}, 
      author={Hyunsu Kim and Gayoung Lee and Yunjey Choi and Jin-Hwa Kim and Jun-Yan Zhu},
      journal={arXiv preprint arXiv:2302.06608},
      year={2023}
    }</code></pre>
  </div>
</section>




<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <a target="_blank" class="icon-link"
         href="blendnerf_static/paper.pdf">
        <i class="fas fa-file-pdf"></i>
      </a>
      <a target="_blank" class="icon-link" href="https://blandocs.github.io" class="external-link" disabled>
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This website is licensed under a <a rel="license"
                                                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
          <p>
            This website refers to <a target="_blank" href="https://nerfies.github.io/">Nerfies website</a>.
          </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Google Analytics -->
  {% include google_analytics.html %}
</body>
</html>
